<!DOCTYPE html>
<html>
<head lang="en">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular.min.js"></script>
  <script src="app.js"></script>
  <meta charset="utf-8">
  <title>Mailer</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="app" ng-controller="AppCtrl as app">

    <ul class="list-unstyled">
      <div class="container">
        <li class="profile" ng-repeat="person in app.people">
            <div class="container">
              <div class="row">
                <div class="col-md-2">
                  <a href="{{person.html_url}}" target="_blank">
                    <img src="{{person.avatar_url}}&s=300" width="150" alt="{{person.login}}" class="img-circle" align="centre">
                  </a>
                </div>
                <div class="col-md-8">
                  <h4>{{person.name}} @ {{person.company}}</h4> 
                  <h4>{{person.login}}</h4>
                  <a href="mailto:{{person.email}}">
                    <p>{{person.email}}</p>
                  </a>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-primary" ng-click="$parent.app.sendEmail(person)">Email</button>
                </div>
              </div>
            </div>
        </li>
      </div>
    </ul>

    <div id="footer">
      <div class="container" align="right">
        <p>&copy; PageDrop 2014</p>
      </div>
    </div>


</body>
</html>