.row {
  padding-top: 20px;
}

#JavaScript {
	background-color: #0e90d2;
	color: #fff;
	text-align: left;
	padding: 5px;
    font: normal normal normal 16px/22.399999618530273px FreeSans, Arimo, 'Droid Sans', Helvetica, Arial, sans-serif;
	letter-spacing: normal;
    outline: rgb(119, 119, 119) none 0px;*/
}

#Ruby {
	background-color: #dd514c;
	color: #fff;
	text-align: letter-spacing;
	padding: 5px;
    font: normal normal normal 16px/22.399999618530273px FreeSans, Arimo, 'Droid Sans', Helvetica, Arial, sans-serif;
	letter-spacing: normal;
    outline: rgb(119, 119, 119) none 0px;*/
}

#CoffeeScript {
	background-color: rgb(243, 123, 29);
	color: #fff;
	text-align: letter-spacing;
	padding: 5px;
    font: normal normal normal 16px/22.399999618530273px FreeSans, Arimo, 'Droid Sans', Helvetica, Arial, sans-serif;
	letter-spacing: normal;
    outline: rgb(119, 119, 119) none 0px;*/
}

#PHP {
	background-color: rgb(250, 210, 50);
	color: #fff;
	text-align: letter-spacing;
	padding: 5px;
    font: normal normal normal 16px/22.399999618530273px FreeSans, Arimo, 'Droid Sans', Helvetica, Arial, sans-serif;
	letter-spacing: normal;
    outline: rgb(119, 119, 119) none 0px;*/
}

#Python {
	background-color: #5eb95e;
	color: #fff;
	text-align: letter-spacing;
	padding: 5px;
    font: normal normal normal 16px/22.399999618530273px FreeSans, Arimo, 'Droid Sans', Helvetica, Arial, sans-serif;
	letter-spacing: normal;
    outline: rgb(119, 119, 119) none 0px;*/
}

#Haskell {
	background-color: rgb(192, 57, 43);
	color: #fff;
	text-align: letter-spacing;
	padding: 5px;
    font: normal normal normal 16px/22.399999618530273px FreeSans, Arimo, 'Droid Sans', Helvetica, Arial, sans-serif;
	letter-spacing: normal;
    outline: rgb(119, 119, 119) none 0px;*/
}

#Java {
	background-color: rgb(128, 88, 165);
	color: #fff;
	text-align: letter-spacing;
	padding: 5px;
    font: normal normal normal 16px/22.399999618530273px FreeSans, Arimo, 'Droid Sans', Helvetica, Arial, sans-serif;
	letter-spacing: normal;
    outline: rgb(119, 119, 119) none 0px;*/
}

#null {
	background-color: rgb(149, 165, 166);
	color: #fff;
	text-align: letter-spacing;
	padding: 5px;
    font: normal normal normal 16px/22.399999618530273px FreeSans, Arimo, 'Droid Sans', Helvetica, Arial, sans-serif;
	letter-spacing: normal;
    outline: rgb(119, 119, 119) none 0px;*/
}