<br>
<br>
<br>

<div class="container" ng-controller="SearchCtrl">
  <div class="container">

    <form ng-submit="search()">
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" ng-model="queryTerm" name="text" class="search-query form-control"
                 placeholder="Search Profiles" spellcheck='false'>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
      </span>
        </div>
      </div>
      <div class="col-md-3">
        <select data-ng-options="template.role for template in templates" data-ng-model="selectedOption"
                class="form-control"></select>
      </div>
      <em class="pull-right">Found: {{results.stats.n}}, Responce: {{results.stats.timeMicros}}ms</em>
    </form>


  </div>
  <br>

  <div class="spinner" ng-show="loading">
    <h1>Loading</h1>
  </div>

  <div class="container" id="results">
    <ul class="list-unstyled">
      <li class="profile animated fadeIn" ng-repeat="person in results.results">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <a href="{{person.obj.html_url}}" target="_blank">
                <img src="{{person.obj.avatar_url}}&s=300" width="150" alt="{{person.obj.login}}"
                     class="img-circle" align="centre">
              </a>
            </div>
            <div class="col-md-7">
              <h4 class="lead">{{person.obj.name}} @ {{person.obj.company}}</h4>
              <h5>{{person.obj.location}} Rank: {{person.score.toFixed(2)}}</h5>
              <a href="mailto:{{person.obj.email}}">
                <p>{{person.obj.email}}</p>
              </a>

              <p>Sent {{person.obj.messages.length}} Emails</p>
              <ul ng-repeat="email in person.obj.messages">
                <li>{{email.body}}, {{email.date | date : 'd MMM y, h:mm a'}}</li>
              </ul>


              <p>{{person.obj.bio}}</p>
              <h5><span class="btn btn-primary btn-xs" id="tag"
                        ng-repeat="(key, value) in person.obj.repoOverview[0]" tooltip-placement="top"
                        tooltip="{{value}} Repositories">{{key}}</span></h5>

            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-primary" ng-click="sendEmail(person.obj)"><i
                  class="fa fa-envelope-o"></i> Email
              </button>
              <button type="button" class="btn btn-danger" ng-click="deleteProfile(person.obj)"><i
                  class="fa fa-warning"></i> Delete
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

