<br>
<br>
<br>

<div class="container" ng-controller="SearchCtrl">
  <div class="container">
    <div class="col-md-3">
      <form ng-submit="search()">
        <input type="text" ng-model="queryTerm" name="text" class="search-query form-control"
               placeholder="Search Profiles"/>

        <input type="submit" id="submit" value="Search" class="btn btn-primary"/>
      </form>
    </div>

    <em class="pull-right">Found: {{results.stats.n}}, Responce: {{results.stats.timeMicros}}ms</em>
  </div>
  <br>

  <div class="container" id="results">
    <ul class="list-unstyled">
      <li class="profile" ng-repeat="person in results.results">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <a href="{{person.obj.html_url}}" target="_blank">
                <img src="{{person.obj.avatar_url}}&s=300" width="150" alt="{{person.obj.login}}"
                     class="img-circle" align="centre">
              </a>
            </div>
            <div class="col-md-8">
              <h4 class="lead">{{person.obj.name}} @ {{person.obj.company}}</h4>
              <h5>{{person.obj.location}} Rank: {{person.score.toFixed(2)}}</h5>
              <a href="mailto:{{person.obj.email}}">
                <p>{{person.obj.email}}</p>
              </a>

              <p>{{person.obj.bio}}</p>
              <h5><span class="btn btn-primary btn-xs" id="tag"
                        ng-repeat="(key, value) in person.obj.repoOverview[0]" tooltip-placement="top"
                        tooltip="{{value}} Repositories">{{key}}</span></h5>

            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" ng-click="sendEmail(person.obj)"><i class="fa fa-envelope-o"></i> Email</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

