<br>
<br>
<br>

<div class="container" ng-controller="TempCtrl">
  <div class="col-md-4">
    <h1>Add a new template:</h1>
  </div>
  <br>

  <div class="col-md-3">
    <input type="text" placeholder="Client name" class="form-control">
  </div>
  <div class="col-md-3">
    <input type="text" placeholder="Role name" class="form-control">
  </div>
  <form>
    <textarea class="form-control" rows="18" placeholder="Add your template here..."></textarea>
    <br>
    <button class="btn btn-primary pull-right">Submit</button>
  </form>

</div>

