<html>
<head>
  <title></title>
</head>
<body>
<p style="color: #000000; font-family: Calibri, sans-serif; font-size: 11pt; font-weight: normal;">
  Hi {{name}},
</p>

<p style="color: #000000; font-family: Calibri, sans-serif; font-size: 11pt; font-weight: normal;">
  I hope this message finds you well, I came across your GitHub Profile {{url}} with great interest as I
  noticed you had made several significant Python focused open-source contributions.
</p>

<p style="color: #000000; font-family: Calibri, sans-serif; font-size: 11pt; font-weight: normal;">
  I was just looking to touch base with you regarding an Award Winning Financial UK Tech Startup called Funding Options.
  They are revolutionising the online Financial market with their unique and innovative ideas on financial risk and
  stock management.
</p>

<p style="color: #000000; font-family: Calibri, sans-serif; font-size: 11pt; font-weight: normal;">
  Their dev teams are usually split up into smaller teams (4 or 5 devs), working in a very lean Agile way practising
  Scrum & TDD. They use Python and Pyramid extensively, however they are keen on attracting the best Python developers
  in the market who have experience with frameworks such as Django, Flask or Pyramid.
</p>

<p style="color: #000000; font-family: Calibri, sans-serif; font-size: 11pt; font-weight: normal;">
  They are VC backed by several very renowned figures when it comes to successful entrepreneurs, including board
  members of one of Europes Top 10 Startups, Funding Circle and two of Bank of America most successful VPs of
  engineering. They are looking to rapidly expand their development team with now multiple strong back end python
  developers. They are considering Mid-Level, Senior and Lead Developers and are paying very attractive salaries, with
  potential stock options. They have recently secured stunning offices in the Centre of London overlooking the Thames,
  near tower bridge.
</p>

<p style="color: #000000; font-family: Calibri, sans-serif; font-size: 11pt; font-weight: normal;">
  Please let me know if you would be interested in finding out more regarding this excellent opportunity to work for
  one of the most talked about Startups in London, or if you know anyone else who may be interested, we offer a generous
  referral fee.
</p>

<p style="color: #000000; font-family: Calibri, sans-serif; font-size: 11pt; font-weight: normal;">
  If you aren't interested {{name}} for whatever reason, it is still worth getting back to me as I have a number of
  other exciting Python Development positions that may catch your eye.
</p>

<p style="color: #000000; font-family: Calibri, sans-serif; font-size: 11pt; font-weight: normal;">
  I look forward to your response,
</p>

<p style="color: #000000; font-family: Calibri, sans-serif; font-size: 11pt; font-weight: normal;">
  Thanks,
  <br/>
<div style="width:100%; float:left; clear:both;">
  <span style="color: #000000; font-family: 'Calibri Bold', Calibri, sans-serif; font-size: 13pt; font-weight: bold;">Steven Evans</span><br>
  <span style="color: #000000; font-family: Calibri, sans-serif; font-size: 13pt; font-weight: normal;">Open-Source Consultant</span>
</div>
<div style="width:100%; float:left; clear:both; padding:15px 0px; border-bottom:solid #ecf1f3 1px;">
  <a href="http://bridgenoble.com/"><img src="http://www.bridgenoble.com/email-images/ben-email-logo.jpg" width="168" height="33" /></a>
</div>
<div style="width:100%; float:left; clear:both; border-bottom:solid #ecf1f3 1px;">
  <div style="float:left; width:250px; line-height:160%; display:block; margin-top:10px; margin-bottom:10px; color: #000000; font-family: Calibri, sans-serif; font-size: 10pt; font-weight: normal;">
    <b>Phone:</b> +44 (0) 207 953 1141<br>
    <b>Mobile:</b> +44 (0) 7515 403 919<br>
    <b>Email:</b> <a href="mailto:steven.evans@bridgenoble.com">steven.evans@bridgenoble.com</a><br>
    <b>Website:</b> <a href="http://www.bridgenoble.com" target="_blank">www.bridgenoble.com</a>
  </div>

  <div style="float:left; line-height:160%; display:block; margin-top:10px; margin-bottom:10px; color: #000000; font-family: Calibri, sans-serif; font-size: 10pt; font-weight: normal;"><b>Address:</b><br>
    Bridge Noble Ltd<br>
    Coppergate House, Brune Street<br>
    London, E1 7NJ</div>
</div>
<div style="width:100%; float:left; clear:both; border-bottom:solid #ecf1f3 1px;">
  <div style="float:left; width:250px;">
    <span style="display:block; margin-top:10px; margin-bottom:5px; color: #000000; font-family: 'Calibri Light', Calibri, sans-serif; font-size: 13pt; font-weight: Light;">Other ways to connect</span>
    <img src="http://www.bridgenoble.com/email-images/connect-with-us.jpg" width="142" height="30" usemap="#Map" style="margin-bottom:15px;" border="0" href="http://uk.linkedin.com/in/brahamdjidjelli" />
    <map name="Map">
      <area shape="rect" coords="0,0,29,36" href="http://www.linkedin.com/in/steven9" target="_blank" alt="LinkedIn">
      <area shape="rect" coords="37,0,65,30" href="skype:live:steven.evans?add" alt="Skype">
      <area shape="rect" coords="75,-1,103,31" href="https://twitter.com/BNStevene" target="_blank" alt="Twitter">
      <area shape="rect" coords="111,0,142,33" href="https://plus.google.com/118214046900627262336/posts" target="_blank" alt="Google+">
    </map>
  </div>
  <div style="float:left;">
    <span style="display:block; margin-top:10px; margin-bottom:5px; color: #000000; font-family: 'Calibri Light', Calibri, sans-serif; font-size: 13pt; font-weight: Light;">Download our app</span>
    <img src="http://www.bridgenoble.com/email-images/download-our-app.jpg" width="283" height="30" usemap="#Map2" style="margin-bottom:15px;" border="0" />
    <map name="Map2">
      <area shape="rect" coords="-2,-1,88,32" href="https://itunes.apple.com/us/app/it-jobs-bridge-noble-careers/id579422305?mt=8" target="_blank" alt="">
      <area shape="rect" coords="97,0,185,31" href="https://play.google.com/store/apps/details?id=co.uk.keyapps.BridgeNoble&hl=en_GB" target="_blank">
      <area shape="rect" coords="194,-3,285,32" href="http://www.windowsphone.com/en-us/store/app/it-jobs-bridge-noble/3ecf39fa-e152-43c0-bb3a-37662d0bc705" target="_blank">
    </map>
  </div>
</div>
<div style="width:100%; float:left; clear:both; padding-bottom:20px;">
    <span style="color: #8A8A8A; font-family: Calibri, sans-serif; font-size: 8pt; font-weight: regular;">
    <br>This email is sent for and on behalf of BRIDGE NOBLE LTD.<br><br>

    <b>Confidentiality Note:</b> This email is intended only for the use of the addressee named above and may be confidential or legally privileged. If you are not the addressee you must not read it and must not use any information contained in nor copy it nor inform any person other than BRIDGE NOBLE LTD or the addressee of its existence or contents. If you have received this email in error please delete it and notify BRIDGE NOBLE LTD on +44 (0) 207 953 1137.
    <br>
    </span>
</div>
</body>

<style>
  a {color: #6e93a2; text-decoration:none;} a:hover {text-decoration:underline;}
</style>



